registry=https://pkgs.dev.azure.com/contextual/_packaging/contextual/npm/registry/ 

always-auth=true

; begin auth token
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/registry/:username=${CONTEXTUAL_NPM_USERNAME}
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/registry/:_password=${CONTEXTUAL_NPM_TOKEN}
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/:username=${CONTEXTUAL_NPM_USERNAME}
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/:_password=${CONTEXTUAL_NPM_TOKEN}
//pkgs.dev.azure.com/contextual/_packaging/contextual/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
